# Node
node_modules/
frontend/dist/
frontend/node_modules/

# Python
data-processing/.venv/
__pycache__/
*.pyc
*.pyo
.eggs/
*.egg-info/

# Java
backend/target/
backend/.idea/
*.class
*.jar
*.war

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# env
.env
.env.local
